@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
.text2{
  margin-top: 1rem;
  font-family: 'Courier New', Courier, monospace;
  color: #391f44b6;
  margin-left: 10rem;
  font-weight: bold;
  text-indent: 0.4rem;

}
.report{
  margin-top: 1rem;
  font-family: 'Courier New', Courier, monospace;
  color: #391f44b6;
  font-weight: bold;
  margin-left: 10rem;

}
.title1{
  text-align: center;
  font-size: xx-large;
}
.navbar-brand{
  text-indent: 3rem;
  margin-left: 5rem;
}
.container{
    margin-top: 2.2rem;
    top: 10.5rem;
    max-width: 950px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  }
.text1{
  margin-top: 3rem;
  font-family: 'Courier New', Courier, monospace;
  color: #2a0849;
  font-weight: bold;
  text-indent: 13rem;
  margin-right: 3.5rem;
  right: 30%;
}
.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
  }

.content form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 22px 0 1px 0;
  }
form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 3 - 20px);
  }
form .input-box span.details{
    display: block;
    font-weight: 500;
    margin-bottom: 3px;
}
  .user-details .input-box input{
    font-size: 16px;
    border-radius: 6px;
    padding-left: 18px;
    border: 3px solid #ccc;
    border-bottom-width: 3px;
    transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #a08ca8;
}
form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
   }

form .category{
    display: flex;
    width: 90%;
    margin: 16px 0 ;
    justify-content: space-between;
  }

form .category label{
    display: flex;
    align-items: center;
    cursor: pointer;
  }
form .category label .dot{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
  }
  #dot-1:checked ~ .category label .one,
  #dot-2:checked ~ .category label .two,
  #dot-3:checked ~ .category label .three{
    background: #9b59b6;
    border-color: #d9d9d9;
  }
  form input[type="radio"]{
    display: none;
  }
  form .button{
    height: 45px;
    margin: 35px 0
  }
  form .textInput{
    font-weight: 500 ;
 }
 form .button input{
  height: 135%;
  width: 30%;
  display: grid; 
  text-align:'center';
  margin-right: 39rem;
  border-radius: 10px 10%;
  border: none;
  color: #fff;
  text-align:'center';
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #7a8b97, #9b59b6);
}
form .button input:hover{
  opacity: 0.6;
  background-color: #86718f;
}
.content form .user-details .text{
    width:90px;
}
@media(min-width: 200px) {
  form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 1  - 20px);
  }
  .navbar-brand{
    margin-left: 0.8rem;
  }
  .title1{
    text-align: center;
    font-size: xx-large;
  }
  .container{
    margin-top: 2.2rem;
    top: 10.5rem;
    max-width: 950px;
    width: 100%;
    background-color: #fff;
    padding: 25px 10px;
    border-radius: 2px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  }
  .text2 {
    margin-top: 1rem;
    font-family: 'Courier New', Courier, monospace;
    color: #240531d6;
    margin-left: 2rem;
    font-weight: bold;
    text-indent: 0.4rem;
}
  .text1{
    margin-top: 3rem;
    font-family: 'Courier New', Courier, monospace;
    color: #2a0849;
    text-align: center;
    font-weight: bold;
    margin: auto;
    text-indent: 0.4rem;

  }
  .report {
    margin-top: 1rem;
    font-family: 'Courier New', Courier, monospace;
    color: #2a0849;
    font-weight: bold;
    margin-left: 1rem;
}
  form .button input{
    height: 135%;
    width: 40%;
    display: grid; 
    text-align:'center';
    margin: auto; 
    border-radius: 10px 10%;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #7a8b97, #9b59b6);
  }
}
@media(min-width: 300px) {
  form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 1  - 20px);
  }
  .title1{
    text-align: center;
    font-size: xx-large;
    margin-bottom: auto;
  }
.report {
    margin-top: 1rem;
    font-family: 'Courier New', Courier, monospace;
    color: #2a0849;
    font-weight: bold;
    margin-left: 3rem;
}
  .text2 {
    margin-top: 1rem;
    font-family: 'Courier New', Courier, monospace;
    color: #240531d6;
    margin-left: 3rem;
    font-weight: bold;
    text-indent: 0.4rem;
}
  .container{
    margin-top: 2.2rem;
    top: 10.5rem;
    max-width: 950px;
    width: 100%;
    background-color: #fff;
    padding: 25px 10px;
    border-radius: 2px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  }
  .navbar-brand{
    margin-left: 0.7rem;
  }
  .text1{
    margin-top: 3rem;
    font-family: 'Courier New', Courier, monospace;
    color: #2a0849;
    text-align: center;
    font-weight: bold;
    margin: auto;
    text-indent: 0.4rem;

  }
  form .button input{
    height: 135%;
    width: 30%;
    display: grid; 
    text-align:'center';
    margin: auto; 
    border-radius: 10px 10%;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #7a8b97, #9b59b6);
  }
}

@media(min-width: 414px) {
  form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 1  - 20px);
  }
.report {
    margin-top: 1rem;
    font-family: 'Courier New', Courier, monospace;
    color: #2a0849;
    font-weight: bold;
    margin-left: 3rem;
}
  .title1{
    text-align: center;
    font-size: xx-large;
  }
  .container{
    margin-top: 2.2rem;
    top: 10.5rem;
    max-width: 950px;
    width: 100%;
    background-color: #fff;
    padding: 25px 10px;
    border-radius: 2px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  }
  .text1{
    margin-top: 3rem;
    font-family: 'Courier New', Courier, monospace;
    color: #2a0849;
    text-align: center;
    font-weight: bold;
    margin: auto;
    text-indent: 0.4rem;

  }
  .text2 {
    margin-top: 1rem;
    font-family: 'Courier New', Courier, monospace;
    color: #240531d6;
    margin-left: 3rem;
    font-weight: bold;
    text-indent: 0.4rem;
}
  form .button input{
    height: 135%;
    width: 30%;
    display: grid; 
    text-align:'center';
    margin: auto; 
    border-radius: 10px 10%;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #7a8b97, #9b59b6);
  }
}
@media(min-width: 500px) and (max-width: 800px){
  form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 1 - 20px);
  }
  .report {
    margin-top: 1rem;
    font-family: 'Courier New', Courier, monospace;
    color: #2a0849;
    font-weight: bold;
    margin-left: 3rem;
}
  .container{
    margin-top: 2.2rem;
    top: 10.5rem;
    max-width: 950px;
    width: 100%;
    background-color: #fff;
    padding: 25px 10px;
    border-radius: 2px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  }
  .content form .user-details .text{
    width:90px;
}
.text1{
  margin-top: 3rem;
  font-family: 'Courier New', Courier, monospace;
  color: #2a0849;
  font-weight: bold;
  margin-left: auto;
  text-indent: 0.4rem;
}
.report {
  margin-top: 1rem;
  font-family: 'Courier New', Courier, monospace;
  color: #2a0849;
  font-weight: bold;
  margin-left: 3rem;
}
.text2 {
  margin-top: 1rem;
  font-family: 'Courier New', Courier, monospace;
  color: #240531d6;
  margin-left: 3rem;
  font-weight: bold;
  text-indent: 0.4rem;
}
}

@media(min-width: 600px) and (max-width: 800px){
  form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 1 - 20px);
  }
  .container{
    margin-top: 2.2rem;
    top: 10.5rem;
    max-width: 950px;
    width: 100%;
    background-color: #fff;
    padding: 25px 10px;
    border-radius: 2px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  }
  .content form .user-details .text{
    width:90px;
}
.text1{
  margin-top: 3rem;
  font-family: 'Courier New', Courier, monospace;
  color: #2a0849;
  font-weight: bold;
  margin-left: auto;
  text-indent: 1rem;
}
.text2 {
  margin-top: 1rem;
  font-family: 'Courier New', Courier, monospace;
  color: #240531d6;
  margin-left: 3rem;
  font-weight: bold;
  text-indent: 0.4rem;
}
.report {
  margin-top: 1rem;
  font-family: 'Courier New', Courier, monospace;
  color: #2a0849;
  font-weight: bold;
  margin-left: 3rem;
}
.title1{
  text-align: center;
  font-size: xx-large;
}
}
/* @media(max-width: 600px) and (max-width: 800px){
  form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
  } */

@media(min-width: 700px) {
  form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
  }
  .title1{
    text-align: center;
    font-size: xx-large;
  }
  .text1{
    margin-top: 5rem;
    font-family: 'Courier New', Courier, monospace;
    color: #2a0849;
    font-weight: bold;
    margin:2px;
    text-indent: 0.5rem;
  }
  .report {
    margin-top: 1rem;
    font-family: 'Courier New', Courier, monospace;
    color: #2a0849;
    font-weight: bold;
    margin-left: 3rem;
}
  .text2 {
    margin-top: 1rem;
    font-family: 'Courier New', Courier, monospace;
    color: #240531d6;
    margin-left: 3rem;
    font-weight: bold;
    text-indent: 0.4rem;
}
  form .button input{
    height: 135%;
    width: 40%; 
    border-radius: 10px 10%;
    border: none;
    color: #fff;
    display: grid; 
    text-align:'center';
    margin-right: 35rem; 
    position: relative;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #7a8b97, #9b59b6);
  }
  form .button input{
    left: 13rem;
  }
}
@media(min-width: 800px) {
  form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 3 - 20px);
  }
  .title1{
    text-align: center;
    font-size: xx-large;
  }
  .text2 {
    margin-top: 1rem;
    font-family: 'Courier New', Courier, monospace;
    color: #240531d6;
    margin-left: 3rem;
    font-weight: bold;
    text-indent: 0.4rem;
}
.report {
  margin-top: 1rem;
  font-family: 'Courier New', Courier, monospace;
  color: #2a0849;
  font-weight: bold;
  margin-left: 3rem;
}
  .container{
    margin-top: 2.2rem;
    top: 10.5rem;
    max-width: 950px;
    width: 100%;
    background-color: #fff;
    padding: 25px 10px;
    border-radius: 2px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  }
  .content form .user-details .text{
    width:90px;
}
form .button input{
  height: 135%;
  width: 40%;
  border-radius: 10px 10%;
  border: none;
  color: #fff;
  display: grid; 
  text-align:'center';
  margin-right: 50rem; 
  position: relative;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #7a8b97, #9b59b6);
}
.text1{
  margin-top: 3rem;
  font-family: 'Courier New', Courier, monospace;
  color: #2a0849;
  font-weight: bold;
  margin-left: auto;
  text-indent: 1rem;
}}

@media(min-width: 1000px) {
  form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 3 - 20px);
  }
  .title1{
    text-align: center;
    font-size: xx-large;
  }
  .text2 {
    margin-top: 1rem;
    font-family: 'Courier New', Courier, monospace;
    color: #240531d6;
    margin-left: 3rem;
    font-weight: bold;
    text-indent: 0.4rem;
}
  .container{
    margin-top: 2.2rem;
    top: 10.5rem;
    max-width: 950px;
    width: 100%;
    background-color: #fff;
    padding: 25px 10px;
    border-radius: 2px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  }
  .content form .user-details .text{
    width:90px;
}
form .button input{
  height: 135%;
  width: 30%;
  border-radius: 45%;
  border: none;
  color: #fff;
  display: grid; 
  text-align:'center';
  margin-right: 30rem; 
  position: relative;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #7a8b97, #9b59b6);
}
.text1{
  margin-top: 3rem;
  font-family: 'Courier New', Courier, monospace;
  color: #2a0849;
  font-weight: bold;
  margin-left:  80px;
  text-indent: 1rem;
}
.report {
  margin-top: 1rem;
  font-family: 'Courier New', Courier, monospace;
  color: #2a0849;
  font-weight: bold;
  margin-left: 3rem;
}}
@media(min-width: 1280px) {
  form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 3 - 20px);
  }
  .title1{
    text-align: center;
    font-size: xx-large;
  }
  .container{
    margin-top: 2.2rem;
    top: 10.5rem;
    max-width: 950px;
    width: 100%;
    background-color: #fff;
    padding: 25px 10px;
    border-radius: 2px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  }
  .content form .user-details .text{
    width:90px;
}
form .button input{
  height: 135%;
  width: 30%;
  border-radius: 45%;
  border: none;
  color: #fff;
  display: grid; 
  text-align:'center';
  margin-right: 38rem; 
  position: relative;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #7a8b97, #9b59b6);
}
.text1{
  margin-top: 3rem;
  font-family: 'Courier New', Courier, monospace;
  color: #2a0849;
  font-weight: bold;
  margin-left:  0.1px;
  text-indent: 0.1px;
}
.report {
  margin-top: 1rem;
  font-family: 'Courier New', Courier, monospace;
  color: #2a0849;
  font-weight: bold;
  margin-left: 3rem;
}
.text2 {
  margin-top: 1rem;
  font-family: 'Courier New', Courier, monospace;
  color: #240531d6;
  margin-left: 3rem;
  font-weight: bold;
  text-indent: 0.4rem;
}}
@media(min-width: 1300px) {
  form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 3 - 20px);
  }
  .title1{
    text-align: center;
    font-size: xx-large;
  }
  .text2 {
    margin-top: 1rem;
    font-family: 'Courier New', Courier, monospace;
    color: #240531d6;
    margin-left: 3rem;
    font-weight: bold;
    text-indent: 0.4rem;
}
  .container{
    margin-top: 2.2rem;
    top: 10.5rem;
    max-width: 950px;
    width: 100%;
    background-color: #fff;
    padding: 25px 10px;
    border-radius: 2px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  }
  .content form .user-details .text{
    width:90px;
}
form .button input{
  height: 135%;
  width: 30%;
  border-radius: 10px 10%;
  border: none;
  color: #fff;
  display: grid; 
  text-align:'center';
  margin-right: 42rem; 
  position: relative;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #7a8b97, #9b59b6);
}
.text2 {
  margin-top: 1rem;
  font-family: 'Courier New', Courier, monospace;
  color: #240531d6;
  margin-left: 3rem;
  font-weight: bold;
  text-indent: 0.4rem;
}
.report {
  margin-top: 1rem;
  font-family: 'Courier New', Courier, monospace;
  color: #2a0849;
  font-weight: bold;
  margin-left: 3rem;
}
.text1{
  margin-top: 3rem;
  font-family: 'Courier New', Courier, monospace;
  color: #2a0849;
  font-weight: bold;
  margin-left:  0.1px;
  text-indent: 0.1px;
}}
